In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

test=pd.read_excel("/content/drive/My Drive/fwdfliprhackathon6_0machinelearningtask/October_test_dataset.xlsx")

In [2]:
test.drop(['Popuation [2001]'],axis=1,inplace=True)

In [4]:
list1=["Population [2011]","Sex Ratio","Median Age","Avg Temp","Toilets Avl","Water Purity","H Index","Female Population","# of hospitals","Foreign Visitors"]   
list2=["Type","SWM"]

for i in list1:
    
    test.replace(np.NaN,{i:test[i].median()},inplace=True)
    
for i in list2:
    
    test.replace(np.NaN,{i:test[i].value_counts().idxmax()},inplace=True)
    
    
test.head(15)

    Unnamed: 0           City  ... # of hospitals Foreign Visitors
0            0       Tuensang  ...           17.0             3134
1            1   Lakshmeshwar  ...           13.0           720371
2            2           Zira  ...           17.0           274303
3            3          Yawal  ...           11.0          4989856
4            4   Thana Bhawan  ...           23.0          3513066
5            5        Ramdurg  ...           30.0           720371
6            6        Pulgaon  ...           11.0          4989856
7            7     Sadasivpet  ...           17.0           142691
8            8        Nargund  ...           21.0           720371
9            9  Neem-Ka-Thana  ...           29.0          1669705
10          10         Memari  ...           26.0          1685764
11          11        Nilanga  ...           12.0          4989856
12          12     Naharlagun  ...           26.0             6457
13          13         Pakaur  ...           26.0           189894
14          14            Wai  ...           23.0          4989856

[15 rows x 15 columns]

In [5]:
test.isnull().sum()

Unnamed: 0           0
City                 0
State                0
Type                 0
Population [2011]    0
Sex Ratio            0
Median Age           0
Avg Temp             0
SWM                  0
Toilets Avl          0
Water Purity         0
H Index              0
Female Population    0
# of hospitals       0
Foreign Visitors     0
dtype: int64

In [6]:
test.drop(['Type'],axis=1,inplace=True)

In [7]:
test.shape

(501, 14)

In [8]:
test.drop(['Unnamed: 0'],axis=1,inplace=True)

In [9]:
test.replace({'MEDIUM':2,'LOW':1,'HIGH':3},inplace=True)

In [12]:
from sklearn.preprocessing import MinMaxScaler

# from sklearn.preprocessing import StandardScaler

scaler=MinMaxScaler()
test[['Population [2011]','Sex Ratio','Median Age','SWM','Avg Temp','Toilets Avl','Water Purity','H Index','Female Population','# of hospitals','Foreign Visitors']] = scaler.fit_transform(test[['Population [2011]','Sex Ratio','Median Age','SWM','Avg Temp','Toilets Avl','Water Purity','H Index','Female Population','# of hospitals','Foreign Visitors']])

In [13]:
import re
regex = re.compile(r"\[|\]|<", re.IGNORECASE)

test.columns = [regex.sub("_", col) if any(x in str(col) for x in set(('[', ']', '<'))) else col for col in test.columns.values]

In [14]:
test.drop(['City'],axis=1,inplace=True)

In [15]:
test

             State  Population _2011_  ...  # of hospitals  Foreign Visitors
0         Nagaland           1.000000  ...        0.518519               1.0
1        Karnataka           0.999455  ...        0.370370               1.0
2           Punjab           0.998854  ...        0.518519               1.0
3      Maharashtra           0.998145  ...        0.296296               1.0
4    Uttar Pradesh           0.997136  ...        0.740741               1.0
..             ...                ...  ...             ...               ...
496    Uttarakhand           0.041758  ...        0.037037               1.0
497    Uttarakhand           0.038376  ...        0.111111               1.0
498    Uttarakhand           0.013692  ...        0.111111               1.0
499    Uttarakhand           0.000000  ...        0.185185               1.0
500  Uttar Pradesh           0.684295  ...        0.111111               1.0

[501 rows x 12 columns]

In [16]:
test['State'] = test['State'].replace(['Maharashtra','Delhi', 'Karnataka','Tamil nadu','Tamil Nadu','West Bengal', 'Bihar','Chandigarh','Tripura', 'Puducherry','Himachal Pradesh','Sikkim'],'high')
test['State'] = test['State'].replace([ 'Telangana','Gujarat','Rajasthan','Chhattisgarh','Goa','Uttar Pradesh','Madhya Pradesh','Andhra Pradesh','Kerala','Mizoram','Manipur','Uttarakhand','Punjab', 'Nagaland','Meghalaya','Arunachal Pradesh', 'Dadra and Nagar Haveli','Andhra pradesh','Jharkhand','Haryana', 'Assam','Odisha','Andaman and Nicobar Islands','Jammu and Kashmir',],'low')

In [17]:
categorical = ['State']

for var in categorical:
    test = pd.concat([test,pd.get_dummies(test[var], prefix=var)], axis=1)
    del test[var]

In [18]:
test.drop(['State_low'],axis=1,inplace=True)

In [19]:
test.shape

(501, 12)

In [24]:
import pickle
file = open("/content/drive/My Drive/fwdfliprhackathon6_0machinelearningtask/Task_model.h5",'rb')
model_file = pickle.load(file)

[11:57:25] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [25]:
covid=model_file.predict(test)

In [26]:
covid

array([36770.008 , 42475.914 , 31526.455 , 39787.363 , 29647.73  ,
       35990.918 , 41026.11  , 31187.531 , 38868.91  , 30820.672 ,
       41286.09  , 38536.535 , 29170.857 , 28704.303 , 40243.805 ,
       37800.367 , 34886.89  , 29368.697 , 33765.45  , 29086.393 ,
       34483.586 , 36413.62  , 27544.236 , 35556.613 , 32165.78  ,
       40384.137 , 38136.453 , 27591.04  , 34367.43  , 29044.64  ,
       37001.664 , 29520.975 , 25408.656 , 39627.734 , 38132.    ,
       36274.332 , 31012.832 , 27150.328 , 32218.326 , 31351.688 ,
       41843.68  , 39200.73  , 38007.562 , 28419.426 , 31860.496 ,
       37862.03  , 39484.457 , 40252.37  , 34567.22  , 36315.94  ,
       31952.756 , 33054.496 , 29184.596 , 33072.74  , 28638.395 ,
       31336.672 , 31476.596 , 39839.996 , 32711.615 , 35705.84  ,
       31453.863 , 37198.55  , 34923.39  , 36265.81  , 30136.15  ,
       30417.467 , 33120.34  , 40035.75  , 27994.365 , 33076.062 ,
       29944.084 , 26942.209 , 35632.3   , 30165.643 , 30192.396 ,
       39902.746 , 34062.2   , 37373.016 , 33465.723 , 29130.006 ,
       37811.12  , 38958.297 , 33602.207 , 37717.777 , 39336.69  ,
       29130.121 , 27706.092 , 30264.086 , 27991.111 , 30952.344 ,
       29920.658 , 32743.623 , 35823.37  , 29122.66  , 30666.78  ,
       36689.45  , 31543.793 , 35968.984 , 26771.414 , 32394.848 ,
       28025.902 , 42940.625 , 37843.355 , 36513.82  , 35694.125 ,
       37186.758 , 27691.832 , 41757.55  , 42254.43  , 32566.15  ,
       39224.594 , 37373.773 , 32309.924 , 39801.848 , 27418.947 ,
       37986.1   , 30500.023 , 36913.957 , 28499.064 , 27071.488 ,
       36648.21  , 39872.41  , 40366.758 , 31615.846 , 33005.043 ,
       32347.994 , 36846.184 , 37391.66  , 32783.81  , 38921.23  ,
       34075.906 , 37049.184 , 36123.86  , 34372.035 , 35160.008 ,
       27501.059 , 35769.824 , 31148.893 , 35155.715 , 29836.566 ,
       38137.992 , 39277.793 , 28274.3   , 29132.545 , 31811.537 ,
       28406.121 , 29548.902 , 39376.793 , 35981.484 , 27704.188 ,
       32972.44  , 30552.1   , 35462.992 , 33234.22  , 37335.418 ,
       38206.875 , 43227.19  , 30493.318 , 35080.566 , 35714.19  ,
       34335.383 , 33315.01  , 27626.113 , 26765.03  , 29555.639 ,
       32043.34  , 32307.123 , 37693.875 , 30190.307 , 29212.607 ,
       37227.574 , 33607.41  , 31382.816 , 36508.49  , 35240.227 ,
       43212.594 , 33668.965 , 35004.65  , 29784.504 , 31505.973 ,
       32463.895 , 34310.008 , 39108.418 , 40076.4   , 34558.23  ,
       34993.15  , 33822.34  , 30935.068 , 31148.98  , 39445.203 ,
       37411.125 , 35178.016 , 31570.057 , 31175.393 , 30122.607 ,
       40040.457 , 37125.668 , 38485.668 , 30500.207 , 39376.234 ,
       29924.215 , 32536.576 , 36680.773 , 40252.348 , 38784.64  ,
       44645.777 , 37616.312 , 39456.777 , 30434.514 , 39171.684 ,
       39108.996 , 33014.594 , 37598.11  , 41869.13  , 28657.062 ,
       30555.545 , 41435.902 , 37656.023 , 31923.906 , 39946.766 ,
       27686.195 , 43666.598 , 41086.336 , 35362.062 , 34019.254 ,
       33386.17  , 36103.375 , 28016.959 , 38363.19  , 37689.633 ,
       35567.69  , 30084.182 , 41248.594 , 36069.355 , 36568.836 ,
       31237.025 , 29337.81  , 37496.793 , 37839.9   , 37131.18  ,
       41122.48  , 33214.75  , 34004.72  , 36613.28  , 34366.836 ,
       42063.16  , 38656.055 , 34781.758 , 30388.395 , 28751.672 ,
       31517.22  , 33790.59  , 29256.781 , 38640.8   , 39615.766 ,
       32806.062 , 30263.178 , 27325.127 , 37216.09  , 30084.426 ,
       39158.207 , 29900.166 , 27255.574 , 31888.809 , 28526.387 ,
       26285.477 , 37507.65  , 29497.941 , 40995.426 , 32240.688 ,
       28282.865 , 39333.78  , 38628.996 , 39211.156 , 34388.17  ,
       33170.344 , 38255.023 , 37977.508 , 28121.068 , 33056.77  ,
       33456.418 , 32231.557 , 31691.096 , 38344.81  , 31056.396 ,
       36209.16  , 31758.242 , 32549.021 , 29787.045 , 36704.305 ,
       39072.25  , 31801.568 , 41630.246 , 37953.97  , 30284.645 ,
       31006.06  , 38231.98  , 38303.812 , 34569.562 , 32920.71  ,
       30534.998 , 27774.309 , 39165.598 , 29149.176 , 38130.848 ,
       42175.043 , 42502.344 , 32681.445 , 36525.918 , 33276.8   ,
       29524.225 , 40392.387 , 39657.188 , 37040.75  , 34509.703 ,
       28799.166 , 29847.041 , 28750.715 , 40180.2   , 39628.027 ,
       33961.324 , 37995.703 , 45855.7   , 34642.188 , 29545.582 ,
       41254.3   , 42604.027 , 32118.781 , 31541.062 , 31669.27  ,
       30758.695 , 30701.678 , 27886.227 , 30432.383 , 28797.062 ,
       32656.066 , 24371.86  , 24893.963 , 31358.953 , 34733.5   ,
       33533.156 , 28943.523 , 36895.594 , 35489.582 , 31381.947 ,
       31632.354 , 30441.646 , 33464.71  , 29509.555 , 30198.975 ,
       31122.69  , 28434.934 , 39354.938 , 27824.855 , 42116.844 ,
       39603.82  , 36594.074 , 37822.152 , 27927.621 , 29439.59  ,
       29605.979 , 28129.408 , 37954.008 , 30794.809 , 38346.66  ,
       28739.535 , 33335.4   , 41072.59  , 37594.746 , 30700.49  ,
       39181.137 , 28511.406 , 32095.973 , 40041.48  , 31822.4   ,
       37093.91  , 31756.979 , 29600.473 , 31436.375 , 30622.71  ,
       41683.277 , 36303.195 , 32864.24  , 32010.209 , 28741.71  ,
       34449.184 , 38799.066 , 36568.836 , 42809.77  , 30413.762 ,
       30586.98  , 32708.088 , 31629.629 , 31241.424 , 38522.754 ,
       39833.418 , 36697.355 , 36539.6   , 29574.145 , 34875.2   ,
       28750.98  , 30953.209 , 36065.01  , 31416.525 , 33187.05  ,
       26454.672 , 34417.31  , 36375.49  , 36972.605 , 31786.357 ,
       41070.918 , 29962.803 , 41402.71  , 38252.23  , 36399.2   ,
       37946.266 , 26225.121 , 34528.52  , 44325.25  , 27602.469 ,
       37535.605 , 32402.322 , 31559.576 , 32338.127 , 41320.73  ,
       33073.67  , 31672.611 , 29250.486 , 42634.316 , 29792.17  ,
       32355.814 , 32614.527 , 30549.676 , 40592.08  , 31425.793 ,
       33417.105 , 32838.99  , 34027.14  , 30652.74  , 32680.934 ,
       29007.852 , 32855.027 , 42583.113 , 36814.266 , 36208.1   ,
       29553.068 , 33432.76  , 32977.543 , 30616.424 , 27225.164 ,
       27855.129 , 30128.404 , 40187.906 , 36560.37  , 31388.434 ,
       32433.105 , 30164.621 , 30481.486 , 31980.512 , 35541.633 ,
       33759.023 , 31173.744 , 30221.238 , 25774.162 , 28206.268 ,
       28383.826 , 29571.125 , 26995.781 , 30261.354 , 31695.068 ,
       29239.143 , 27482.996 , 26880.889 , 26688.846 , 26065.309 ,
       27100.74  , 25945.889 , 31901.988 , 25472.727 , 31212.172 ,
       25358.166 , 27760.65  , 23253.754 , 24656.137 , 34914.348 ,
       27396.729 , 25458.639 , 24903.152 , 23853.693 , 24277.465 ,
       22427.273 , 14061.777 ,  3363.809 ,  7693.166 ,  5918.8857,
        7538.127 ,  8671.591 ,  8644.309 ,  4671.1406,  3393.4097,
       25747.482 ], dtype=float32)

In [27]:
test1=pd.read_excel("/content/drive/My Drive/fwdfliprhackathon6_0machinelearningtask/Test_dataset.xlsx")

results_df = pd.DataFrame(data={'City':test1['City'], 'Covid cases':covid})
results_df.to_csv('/content/drive/My Drive/fwdfliprhackathon6_0machinelearningtask/output-02.csv', index=False)